name: Generate and Publish Swift Package Documentation

on:
  workflow_call:
    inputs:
      os:
        description: The os to use for building. Must be 'macOS' or 'ubuntu'.
        required: true
        type: string
        default: ubuntu
      swift-version:
        description: The Swift version to use for building.
        required: true
        type: string
      organisation:
        description: The name of the organisation that has the repository to use for the documentation.
        required: true
        type: string
        default: ${{ github.repository_owner }}
      repository:
        description: The name of the repository to use for the documentation.
        required: true
        type: string
        default: ${{ github.event.repository.name }}
      pages-branch:
        description: The name of the branch to use for the documentation.
        required: true
        type: string
        default: gh-pages
      before-run:
        description: A command to run before the tests are run. The environment variable `IS_IN_CONTAINER` is set to 1 if the command is run within a container.
        required: false
        type: string
      xcode-destination:
        description: The Xcode destination to use for building. This is only used if the documentation is generated on macOS.
        required: false
        type: string

      container-before-run:
        description: A command to run before the documentation is generated. This is only run if the documentation is generated in a container.
        required: false
        type: string
        # deprecationMessage: Use `before-run` instead

permissions:
  contents: write

jobs:
  basic-context:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      version-name: ${{ github.ref_name }}
      is-latest: ${{ steps.compare-tags.outputs.is-latest }}
      build-os: ${{ steps.builder.outputs.runner-os }}
      build-container: ${{ steps.builder.outputs.container }}
      xcode-version: ${{ steps.builder.outputs.xcode-version }}
      base-url: "https://${{ inputs.organisation }}.github.io"
      base-path: ${{ inputs.repository }}
      version-path: ${{ inputs.repository }}/${{ github.ref_name }}
    steps:
      - uses: joutvhu/get-release@v1
        id: latest-release
        with:
          latest: true
          throwing: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Compare tags
        id: compare-tags
        env:
          REF_TYPE: ${{ github.ref_type }}
          REF_NAME: ${{ github.ref_name }}
          LATEST_TAG: ${{ steps.latest-release.outputs.tag_name }}
        run: |
          if [ "${REF_TYPE}" = 'tag' ] && [ "${REF_NAME}" = "${LATEST_TAG}" ]; then
            echo 'is-latest=true' >> "${GITHUB_OUTPUT}"
          else
            echo 'is-latest=false' >> "${GITHUB_OUTPUT}"
          fi
      - uses: sersoft-gmbh/oss-common-actions/swift/runner-setup-versions@main
        id: builder
        with:
          os: ${{ inputs.os }}
          swift-version: ${{ inputs.swift-version }}

  spm-context:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: swift:${{ inputs.swift-version }}
    outputs:
      package-dump: ${{ steps.dump-package.outputs.package-dump }}
    steps:
      - uses: actions/checkout@v5
      # We don't use a cache here, because SPM doesn't resolve dependencies when dumping packages.
      - name: Dump package
        id: dump-package
        shell: bash
        run: |
          delimiter="$(openssl rand -hex 8)"
          { echo "package-dump<<${delimiter}"; swift package dump-package; echo "${delimiter}"; } >> "${GITHUB_OUTPUT}"

  generate-docs:
    needs:
      - basic-context
      - spm-context
    permissions:
      contents: read
    runs-on: ${{ needs.basic-context.outputs.build-os }}
    container: ${{ needs.basic-context.outputs.build-container }}
    strategy:
      matrix:
        target: ${{ fromJson(needs.spm-context.outputs.package-dump).products.*.targets.* }}
    steps:
      - uses: sersoft-gmbh/os-version-action@v3
        id: os-version
      - uses: maxim-lobanov/setup-xcode@v1
        if: ${{ runner.os == 'macOS' }}
        with:
          xcode-version: ${{ needs.basic-context.outputs.xcode-version }}
      - uses: sersoft-gmbh/swift-version-action@v3
        id: swift-version
      - uses: ConorMacBride/install-package@v1.1.0
        if: ${{ needs.basic-context.outputs.build-container == '' }}
        with:
          brew: zstd
          apt: zstd
          choco: zstandard
      - name: Run before command
        if: ${{ inputs.before-run != '' }}
        env:
          IS_IN_CONTAINER: ${{ needs.basic-context.outputs.build-container && 1 || 0 }}
        run: ${{ inputs.before-run }}
      - name: Run (legacy) before command
        if: ${{ runner.os != 'macOS' && inputs.container-before-run != '' }}
        run: |
          echo '::warning::The container-before-run input is deprecated! Use before-run instead!'
          ${{ inputs.container-before-run }}
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        if: ${{ runner.os != 'macOS' || inputs.xcode-destination == '' }}
        with:
          path: .build
          key: ${{ runner.os }}-${{ steps.os-version.outputs.version }}-spm-${{ steps.swift-version.outputs.version }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.os-version.outputs.version }}-spm-${{ steps.swift-version.outputs.version }}-
      - uses: actions/cache@v4
        if: ${{ runner.os == 'macOS' && inputs.xcode-destination != '' }}
        with:
          path: .derived-data
          key: ${{ runner.os }}-${{ steps.os-version.outputs.version }}-xcode-${{ steps.swift-version.outputs.version }}-${{ inputs.xcode-destination }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.os-version.outputs.version }}-xcode-${{ steps.swift-version.outputs.version }}-${{ inputs.xcode-destination }}-
      - uses: sersoft-gmbh/swifty-docs-action@v4
        env:
          ENABLE_DOCC_SUPPORT: "1"
          DOCC_JSON_PRETTYPRINT: "YES"
        with:
          package-version: ${{ needs.basic-context.outputs.version-name }}
          targets: ${{ matrix.target }}
          use-xcodebuild: ${{ runner.os == 'macOS' && inputs.xcode-destination != '' }}
          xcodebuild-scheme: ${{ matrix.target }}
          xcodebuild-destination: ${{ inputs.xcode-destination }}
          other-xcodebuild-arguments: |
            -derivedDataPath
            .derived-data
          enable-inherited-docs: true
          enable-index-building: false
          transform-for-static-hosting: true
          hosting-base-path: ${{ needs.basic-context.outputs.version-path }}
          output: ${{ matrix.target }}-docs.doccarchive
      - name: Package docs
        env:
          TARGET: ${{ matrix.target }}
        run: tar -cvf "${TARGET}-docs.doccarchive.tar" "${TARGET}-docs.doccarchive"
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.target }}-docs.doccarchive.tar
          path: ${{ matrix.target }}-docs.doccarchive.tar
          retention-days: 3
      # Necessary for cache action post run not to fail.
      - uses: sersoft-gmbh/oss-common-actions/containers/fix-permissions@main
        if: ${{ runner.os != 'macOS' || inputs.xcode-destination == '' }}
        with:
          paths: |
            .build
            Package.resolved
      - uses: sersoft-gmbh/oss-common-actions/containers/fix-permissions@main
        if: ${{ runner.os == 'macOS' && inputs.xcode-destination != '' }}
        with:
          paths: |
            .derived-data
            Package.resolved

  merge-docs:
    needs:
      - basic-context
      - spm-context
      - generate-docs
    permissions:
      contents: read
    runs-on: ${{ needs.basic-context.outputs.build-os }}
    container: ${{ needs.basic-context.outputs.build-container }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        if: ${{ runner.os == 'macOS' }}
        with:
          xcode-version: ${{ needs.basic-context.outputs.xcode-version }}
      - uses: actions/download-artifact@v6
        with:
          path: artifacts
      - name: Extract artifacts
        run: find artifacts -type f -name '*.doccarchive.tar' -execdir tar -xvf '{}' \; -delete
      - name: Merge documentations
        env:
          OUTPUT_PATH: ${{ inputs.repository }}-combined.doccarchive
        run: |
          # We could use `xargs -J` in POSIX - but GNU xargs doesn't have -J...
          # The exec mkdir is currently needed when merging a single archive. Otherwise `docc merge` fails: https://github.com/swiftlang/swift-docc/pull/1218
          find artifacts -type d -name '*.doccarchive' -exec mkdir -p '{}/data/tutorials' '{}/data/documentation' \; -print0 \
            | xargs --null --no-run-if-empty \
              sh -c "'$(which docc || xcrun --find docc)' merge \"\$@\" --output-path '${OUTPUT_PATH}'" sh
      - name: Package combined docs
        env:
          REPO_NAME: ${{ inputs.repository }}
        run: tar -cvf "${REPO_NAME}-combined.doccarchive.tar" "${REPO_NAME}-combined.doccarchive"
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.repository }}-combined.doccarchive.tar
          path: ${{ inputs.repository }}-combined.doccarchive.tar
          retention-days: 3

  publish-docs:
    needs:
      - basic-context
      - spm-context
      - merge-docs
    permissions:
      contents: write
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ inputs.organisation }}/${{ inputs.repository }}/${{ inputs.pages-branch }}
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.pages-branch }}
          path: repository
      - uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.repository }}-combined.doccarchive.tar
      - name: Extract artifact
        env:
          TAR_NAME: ${{ inputs.repository }}-combined.doccarchive.tar
        run: tar -xvf "${TAR_NAME}"
      - name: Move contents
        env:
          TARGET_DIR: repository/${{ needs.basic-context.outputs.version-name }}
        run: |
          TARGET_DIR="$(realpath "${TARGET_DIR}")"
          rm -rf "${TARGET_DIR}"
          find . -type d -name '*.doccarchive' -exec cp -R '{}' "${TARGET_DIR}" \;
      - name: Create root index
        working-directory: repository
        env:
          REDIRECT_URL: ${{ needs.basic-context.outputs.base-url }}/${{ needs.basic-context.outputs.base-path }}/latest
          REPO_NAME: ${{ inputs.repository }}
        run: |
          cat > 'index.html' <<EOF
          <!DOCTYPE html>
          <html lang="en">
             <head>
                <title>${REPO_NAME} Documentation</title>
                <meta charset="utf-8"/>
                <meta http-equiv="refresh" content="0; url=${REDIRECT_URL}"/>
             </head>
             <body>
                <p>Redirecting...</p>
             </body>
          </html>
          EOF
      - name: Create latest index
        if: ${{ needs.basic-context.outputs.is-latest == 'true' }}
        working-directory: repository
        env:
          REDIRECT_URL: ${{ needs.basic-context.outputs.base-url }}/${{ needs.basic-context.outputs.version-path }}/documentation
          REPO_NAME: ${{ inputs.repository }}
        run: |
          if [ -d 'latest' ]; then
            rm -rf 'latest'
          else
            rm -f 'latest'
          fi
          mkdir -p 'latest'
          cat > 'latest/index.html' <<EOF
          <!DOCTYPE html>
          <html lang="en">
             <head>
                <title>${REPO_NAME} Documentation</title>
                <meta charset="utf-8"/>
                <meta http-equiv="refresh" content="0; url=${REDIRECT_URL}"/>
             </head>
             <body>
                <p>Redirecting...</p>
             </body>
          </html>
          EOF
      - name: Push changes
        working-directory: repository
        env:
          VERSION_NAME: ${{ needs.basic-context.outputs.version-name }}
          BRANCH: ${{ inputs.pages-branch }}
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            echo 'Nothing to do...'
            exit 0
          fi
          git config user.name 'GitHub Actions'
          git config user.email 'actions@noreply.github.com'
          git add .
          git commit -m "Deploy documentation for '${VERSION_NAME}'"
          git push origin "${BRANCH}"

  cleanup:
    needs:
      - generate-docs
      - merge-docs
      - publish-docs
    if: ${{ always() }}
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup Artifacts
        uses: joutvhu/delete-artifact@v2
